<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axu1.MedReminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Medication Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.hussein.medreminder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.hussein.medreminder.AlarmReceiver" />

        <service
            android:name="com.example.hussein.medreminder.RingtonePlayingService"
            android:enabled="true"></service>

        <uses-permission android:name="android.permission.CAMERA"> </uses-permission>

        <activity android:name="com.example.hussein.medreminder.medlist"
            android:label="Medication Reminder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>